* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

#app {
  width: 950px;
  margin: auto;
}

.currency-container, .producers-container {
  display: flex;
  justify-content: space-between;
}

body {
	color: white;
	text-shadow: 0px 0px 6px white;
	overflow-x: hidden;
	background-color: black;
	margin: 0;
	padding: 0;
}
* {
  box-sizing: border-box;
}

.generator {
  border: 2px solid khaki;
  background-color: white;
  text-align: center;
  width: 300px;
  padding: 15px;
  font-size: 1.3em;
  cursor: pointer;
  user-select: none;
}

.generator.locked {
  background-color: black
}

.generators-container {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  margin: auto;
}

#currency {
  margin: 40px;
  font-size: 3em;
  text-align: center;
}

